.reply {
    margin-top: 0px;
}

.item-group {
    margin-bottom: 10px;
}


.handle {
    width: 60px;
    border: 1px solid #ccc;
    background: #fff;
    position: absolute;
    right: 5px;
    top: 5px;
    text-align: center;
}

.list-group-item .centence {
    padding: 0px 50px;
}

.user {
    font-size: 22px;
}